{# empty Twig template #}
<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-12 offset-md-1 col-md-11">
                <div class="swiper-container hero-slider">
                    <div class="swiper-wrapper">
                        {% set count = 0 %}
                        {% for producto in result.productos %}
                            <div class="swiper-slide slide-content d-flex align-items-center">
                                <div class="single-slide">
                                    <h1 data-aos="fade-right" data-aos-delay="200">
                                        {{ producto.nombre|capitalize }}
                                    </h1>
                                    <p data-aos="fade-right" data-aos-delay="600">
                                        {{ producto.descripcion|capitalize }}
                                    </p>
                                    {% if result.whatsapp is defined and result.whatsapp is not empty %}                        
                                        <a href="https://api.whatsapp.com/send?phone=+57{{ result.whatsapp }}&text=Hola!!%20Deseo%20una%20consulta%20gratis" target="_blank" class="btn btn-primary buttonNetwork" data-aos="fade-right" data-aos-delay="900" data-network="{{ result.notificaciones["whatsapp"] }}">
                                            Consulta Gratis
                                        </a>                        
                                    {% endif %}
                                    {% if result.facebook is defined and result.facebook is not empty %}
                                        &nbsp;&nbsp; 
                                        <a href="https://api.whatsapp.com/send?phone=+57{{ result.facebook }}&text=Hola!!%20Deseo%20una%20consulta%20gratis" target="_blank" class="btn btn-primary buttonNetwork" data-aos="fade-right" data-aos-delay="900" data-network="{{ result.notificaciones["facebook"] }}">                            
                                            Consulta Gratis!!!                            
                                        </a>
                                    {% endif %}                                    
                                </div>
                            </div>
                        {% endfor %}                                                
                    </div>
                </div>
            </div>
        </div>
        <!-- Add Control -->
        <span class="arr-left"><i class="fa fa-angle-left"></i></span>
        <span class="arr-right"><i class="fa fa-angle-right"></i></span>
    </div>
    <div class="texture"></div>
    <div class="diag-bg"></div>
</section>
