<!DOCTYPE html>
<html>
    <head>        
        <head>
            <link rel="icon" type="image/png" href="{{ absolute_url(asset('assets/'~result.folder~'/images/favicon.png')) }}">
            <title>{% block title %}Tamatoly{% endblock %}</title>
            <meta charset="utf-8" />
            <meta name="keywords" content="tamales, tamales economicos, tamales bogota, tamales domicilios, domicilios gratis, lechonas, lechonas bogota" />
            <meta name="description" content="tamales, tamales economicos, tamales bogota, tamales domicilios, domicilios gratis, lechonas, lechonas bogota" />    
            <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
            <link rel="stylesheet" href="{{ absolute_url(asset('assets/'~result.folder~'/css/main.css')) }}" />
            <noscript><link rel="stylesheet" href="{{ absolute_url(asset('assets/'~result.folder~'/css/noscript.css')) }}" /></noscript>
            {% block stylesheets %}
                {{ encore_entry_link_tags('app') }}
            {% endblock %}
	</head>
    </head>
    <body>
    {% block body %} {% endblock %}
    {% block javascripts %}        
        <script src="{{ absolute_url(asset('assets/'~result.folder~'/js/jquery.min.js')) }}"></script>
        <script src="{{ absolute_url(asset('assets/'~result.folder~'/js/jquery.dropotron.min.js')) }}"></script>
        <script src="{{ absolute_url(asset('assets/'~result.folder~'/js/jquery.scrolly.min.js')) }}"></script>
        <script src="{{ absolute_url(asset('assets/'~result.folder~'/js/jquery.scrollex.min.js')) }}"></script>
        <script src="{{ absolute_url(asset('assets/'~result.folder~'/js/browser.min.js')) }}"></script>
        <script src="{{ absolute_url(asset('assets/'~result.folder~'/js/breakpoints.min.js')) }}"></script>
        <script src="{{ absolute_url(asset('assets/'~result.folder~'/js/util.js')) }}"></script>
        <script src="{{ absolute_url(asset('assets/'~result.folder~'/js/main.js')) }}"></script>
        {% if result.parametros is defined and result.parametros is not empty %}
            {% set parameters = json_decode(result.parametros) %}                
        {% endif %}
        {% if app.environment != 'dev' and parameters[0].analytics is defined %}
            {#UA-147220450-1#}
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id={{parameters[0].analytics}}"></script>
            <script>
              window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());

              gtag('config', '{{parameters[0].analytics}}');
            </script>
        {% endif %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>
</html>
