
<!DOCTYPE html>
<html>
    <head>                
        <title>{% block title %}Ataduras de amor{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        <link rel="icon" type="image/png" href="{{ absolute_url(asset('assets/'~result.folder~'/images/favicon.png')) }}">                
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i%7CRajdhani:400,600,700"
        rel="stylesheet">
        <!-- Plugins Stylesheets -->
        
        <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{{ absolute_url(asset('assets/'~result.folder~'/css/animate.css')) }}">
	
	<link rel="stylesheet" href="{{ absolute_url(asset('assets/'~result.folder~'/css/owl.carousel.min.css')) }}">
	<link rel="stylesheet" href="{{ absolute_url(asset('assets/'~result.folder~'/css/owl.theme.default.min.css')) }}">
	<link rel="stylesheet" href="{{ absolute_url(asset('assets/'~result.folder~'/css/magnific-popup.css')) }}">


	<link rel="stylesheet" href="{{ absolute_url(asset('assets/'~result.folder~'/css/bootstrap-datepicker.css')) }}">
	<link rel="stylesheet" href="{{ absolute_url(asset('assets/'~result.folder~'/css/jquery.timepicker.css')) }}">

	<link rel="stylesheet" href="{{ absolute_url(asset('assets/'~result.folder~'/css/flaticon.css')) }}">
	<link rel="stylesheet" href="{{ absolute_url(asset('assets/'~result.folder~'/css/style.css')) }}">                
        
    </head>
    <body>
    {% block body %} {% endblock %}
    {% block javascripts %}                                               
        <script src="{{ absolute_url(asset('assets/'~result.folder~'/js/jquery.min.js')) }}"></script>
        <script src="{{ absolute_url(asset('assets/'~result.folder~'/js/jquery-migrate-3.0.1.min.js')) }}"></script>
        <script src="{{ absolute_url(asset('assets/'~result.folder~'/js/popper.min.js')) }}"></script>
        <script src="{{ absolute_url(asset('assets/'~result.folder~'/js/bootstrap.min.js')) }}"></script>
        <script src="{{ absolute_url(asset('assets/'~result.folder~'/js/jquery.easing.1.3.js')) }}"></script>
        <script src="{{ absolute_url(asset('assets/'~result.folder~'/js/jquery.waypoints.min.js')) }}"></script>
        <script src="{{ absolute_url(asset('assets/'~result.folder~'/js/jquery.stellar.min.js')) }}"></script>
        <script src="{{ absolute_url(asset('assets/'~result.folder~'/js/jquery.animateNumber.min.js')) }}"></script>
        <script src="{{ absolute_url(asset('assets/'~result.folder~'/js/bootstrap-datepicker.js')) }}"></script>
        <script src="{{ absolute_url(asset('assets/'~result.folder~'/js/jquery.timepicker.min.js')) }}"></script>
        <script src="{{ absolute_url(asset('assets/'~result.folder~'/js/owl.carousel.min.js')) }}"></script>
        <script src="{{ absolute_url(asset('assets/'~result.folder~'/js/jquery.magnific-popup.min.js')) }}"></script>
        <script src="{{ absolute_url(asset('assets/'~result.folder~'/js/scrollax.min.js')) }}"></script>                
        <script src="{{ absolute_url(asset('assets/'~result.folder~'/js/main.js')) }}"></script>
        
        {% if result.parametros is defined and result.parametros is not empty %}
            {% set parameters = json_decode(result.parametros) %}                
        {% endif %}
        {% if app.environment != 'dev' and parameters[0].analytics is defined %}            
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id={{ parameters[0].analytics }}"></script>
            <script>                
              window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());

              gtag('config', '{{parameters[0].analytics}}');
            </script>
        {% endif %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>
</html>
