<div class="container">
    <div class="row">
        <div class="col-md-7">
            <h3 class="white_font">Amarres de amor</h3>                        
        </div>
        <div class="col-md-5">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img class="margin_top_30 img-responsive" src="{{ absolute_url(asset('assets/'~result.folder~'/imgs/blog1.jpg')) }}" alt="#" />
            <h3 class="blog_head">
                HECHIZOS DE AMOR
                {% if result.whatsapp is defined and result.whatsapp is not empty %}                        
                    <br>
                    <a class="" href="https://api.whatsapp.com/send?phone=+57{{ result.whatsapp }}&text=Hola!!%20Deseo%20una%20consulta%20gratis" target="_blank" class="animated fadeIn btn btn-theme buttonNetwork" data-network="{{ result.notificaciones["whatsapp"] }}">
                        Consulta Gratis
                    </a>
                {% endif %}
            </h3>
        </div>
        <div class="col-md-4">
            <img class="margin_top_30 img-responsive" src="{{ absolute_url(asset('assets/'~result.folder~'/imgs/blog2.jpg')) }}" alt="#" />
            <h3 class="blog_head">
                RITUAL DE ATRACCIÓN
                {% if result.whatsapp is defined and result.whatsapp is not empty %}                        
                    <br>
                    <a class="" href="https://api.whatsapp.com/send?phone=+57{{ result.whatsapp }}&text=Hola!!%20Deseo%20una%20consulta%20gratis" target="_blank" class="animated fadeIn btn btn-theme buttonNetwork" data-network="{{ result.notificaciones["whatsapp"] }}">
                        Consulta Gratis
                    </a>
                {% endif %}
            </h3>
        </div>
        <div class="col-md-4">
            <img class="margin_top_30 img-responsive" src="{{ absolute_url(asset('assets/'~result.folder~'/imgs/blog3.jpg')) }}" alt="#" />
            <h3 class="blog_head">
                ATRACCIÓN DE PAREJA
                {% if result.whatsapp is defined and result.whatsapp is not empty %}                        
                    <br>
                    <a class="" href="https://api.whatsapp.com/send?phone=+57{{ result.whatsapp }}&text=Hola!!%20Deseo%20una%20consulta%20gratis" target="_blank" class="animated fadeIn btn btn-theme buttonNetwork" data-network="{{ result.notificaciones["whatsapp"] }}">
                        Consulta Gratis
                    </a>
                {% endif %}
            </h3>
        </div>
    </div>
</div>