<div class="row">
    <div class="col-md-12">
        <div class="owl-carousel owl-carousel-fullwidth">
            <div class="item">
                <a href="#">
                    <img src="{{ absolute_url(asset('assets/'~result.folder~'/images/slider_1.jpg')) }}" alt="Free Website Template by FreeHTML5.co">
                    <div class="slider-copy">
                        {% if result.whatsapp is defined and result.whatsapp is not empty %}                        
                            <a class="btn btn-primary button_consulta" href="https://api.whatsapp.com/send?phone=+{{ result.whatsapp }}&text=Hola!!%20Deseo%20una%20consulta%20gratis" target="_blank" class="animated fadeIn btn btn-theme buttonNetwork" data-network="{{ result.notificaciones["whatsapp"] }}">
                                Consulta Gratis
                            </a>
                        {% endif %}                        
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="{{ absolute_url(asset('assets/'~result.folder~'/images/slider_2.jpg')) }}" alt="Free Website Template by FreeHTML5.co">
                    <div class="slider-copy">
                        {% if result.whatsapp is defined and result.whatsapp is not empty %}                        
                            <a class="btn btn-primary button_consulta" href="https://api.whatsapp.com/send?phone=+{{ result.whatsapp }}&text=Hola!!%20Deseo%20una%20consulta%20gratis" target="_blank" class="animated fadeIn btn btn-theme buttonNetwork" data-network="{{ result.notificaciones["whatsapp"] }}">
                                Consulta Gratis
                            </a>
                        {% endif %}
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="{{ absolute_url(asset('assets/'~result.folder~'/images/slider_3.jpg')) }}" alt="Free Website Template by FreeHTML5.co">
                    <div class="slider-copy">
                        {% if result.whatsapp is defined and result.whatsapp is not empty %}                        
                            <a class="btn btn-primary button_consulta" href="https://api.whatsapp.com/send?phone=+{{ result.whatsapp }}&text=Hola!!%20Deseo%20una%20consulta%20gratis" target="_blank" class="animated fadeIn btn btn-theme buttonNetwork" data-network="{{ result.notificaciones["whatsapp"] }}">
                                Consulta Gratis
                            </a>
                        {% endif %}
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>