{% extends './'~result.folder~'/base.html.twig' %}

{% block body %}
    {% if result.parametros is defined and result.parametros is not empty %}
        {% set parameters = json_decode(result.parametros) %}                
    {% endif %}
    <body class="homepage is-preload">
        <div id="page-wrapper">
            <!-- Header -->
            <div id="header">
                <!-- Inner -->
                <div class="inner">
                    <header>                        
                        <h1>
                            <img class="icon-img" src="/assets/{{result.folder}}/images/tamatoly.png">
                            <a href="{{ path("general_home") }}" id="logo">{{ 'tamatoly l & f'|upper }}</a>
                        </h1>
                        <hr />                        
                        {% if parameters[0]['slogan'] is defined %}
                            <p>{{ parameters[0]['slogan'] }}</p>
                        {% endif %}
                    </header>
                    <footer>
                        <a href="#banner" class="button circled scrolly invima-icon"></a>
                    </footer>
                    
                    <div class="dVYIqU">                        
                        {% if result.whatsapp is defined and result.whatsapp is not empty %}
                            <a href="https://api.whatsapp.com/send?phone=+57{{ result.whatsapp }}&text=Hola!!%20Deseo%20información%20de%20los%20productos" target="_blank">
                                <img class="img-social-chat buttonNetwork" data-network="{{ result.notificaciones["whatsapp"] }}" src="{{ absolute_url(asset('assets/'~result.folder~'/images/wp.png')) }}">
                            </a><br>
                        {% endif %}
                        {% if result.facebook is defined and result.facebook is not empty %}
                            <a href="https://m.me/{{ result.facebook }}" target="_blank">
                                <img class="img-social-chat buttonNetwork" data-network="{{ result.notificaciones["facebook"] }}" src="{{ absolute_url(asset('assets/'~result.folder~'/images/fbmsn.png')) }}">
                            </a>                        
                        {% endif %}
                    </div>
                    
                </div>
                
                <!-- Nav -->
                <nav id="nav">                                                                               
                    <ul>
                        <li><a href="{{ path("general_home") }}">Inicio</a></li>
                        <li><a href="#banner">Nuestros Productos</a></li>
                        <li><a href="#main">Nosotros</a></li>
                        <li><a href="#features">Nuestros Clientes</a></li>
                        <li><a href="#contact">Contáctenos</a></li>
                        <!--<li>
                            <a href="#">Dropdown</a>
                            <ul>
                                <li><a href="#">Lorem ipsum dolor</a></li>
                                <li><a href="#">Magna phasellus</a></li>
                                <li><a href="#">Etiam dolore nisl</a></li>
                                <li>
                                    <a href="#">And a submenu &hellip;</a>
                                    <ul>
                                        <li><a href="#">Lorem ipsum dolor</a></li>
                                        <li><a href="#">Phasellus consequat</a></li>
                                        <li><a href="#">Magna phasellus</a></li>
                                        <li><a href="#">Etiam dolore nisl</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Veroeros feugiat</a></li>
                            </ul>
                        </li>
                        <li><a href="left-sidebar.html">Left Sidebar</a></li>
                        <li><a href="right-sidebar.html">Right Sidebar</a></li>
                        <li><a href="no-sidebar.html">No Sidebar</a></li>
                        -->
                    </ul>
                </nav>
            </div>
            {% if result.productos is defined and result.productos is not empty %}
                <!-- Banner -->
                <section id="banner">
                    {% include './'~result.folder~'/general/banner.html.twig' %}
                </section>
                <!-- Carousel -->
                <section class="carousel">
                    {% include './'~result.folder~'/general/carousel.html.twig' %}
                </section>
            {% endif %}
            
            <!-- Main -->                        
            {% if parameters is defined and ( parameters[0]['mision'] is defined or parameters[0]['vision'] is defined or parameters[0]['imgcorporative'] is defined ) %}
                <div class="wrapper style2">
                    <article id="main" class="container special">
                        {% if parameters[0]['imgcorporative'] is defined %}
                            <a href="#" class="image featured">
                                <img class="img-corporative" src="{{ absolute_url(asset('assets/'~result.folder~'/images/'~parameters[0]['imgcorporative'])) }}" alt="" />
                            </a>
                        {% endif %}                        
                        {% if parameters[0]['mision'] is defined %}
                            <header>
                                <h2><a href="#">Mision </a></h2>
                                <p>
                                    {{ parameters[0]['mision'] }}
                                </p>
                            </header>
                        {% endif %}
                        
                        {% if parameters[0]['vision'] is defined %}
                            <header>
                                <h2><a href="#">Vision</a></h2>
                                <p>
                                    {{ parameters[0]['vision'] }}
                                </p>
                            </header> 
                        {% endif %}
                                                                  
                    </article>
                </div>
            {% endif %}
            
            <!-- Features -->
            {% if result.aliados is defined and result.aliados is not empty %}
                <div class="wrapper style1">
                    <section id="features" class="container special">
                        {% include './'~result.folder~'/general/features.html.twig' %}
                    </section>
                </div>
            {% endif %}                

            <!-- Footer -->
            <div id="footer">
                {% include './'~result.folder~'/general/footer.html.twig' %} 
            </div>
        </div>
        {% include './'~result.folder~'/general/modal.html.twig' %}
    </body>
{% endblock %}
