<header>
    <h2 class="icon solid fa-camera circled"><span class="label">Photos</span></h2>
</header>
<div class="row gtr-25">
    <div class="col-6">
        <a href="#" class="image fit"><img src="{{ absolute_url(asset('assets/images/pic10.jpg')) }}" alt="" /></a>
    </div>
    <div class="col-6">
        <a href="#" class="image fit"><img src="{{ absolute_url(asset('assets/images/pic11.jpg')) }}" alt="" /></a>
    </div>
    <div class="col-6">
        <a href="#" class="image fit"><img src="{{ absolute_url(asset('assets/images/pic12.jpg')) }}" alt="" /></a>
    </div>
    <div class="col-6">
        <a href="#" class="image fit"><img src="{{ absolute_url(asset('assets/images/pic13.jpg')) }}" alt="" /></a>
    </div>
    <div class="col-6">
        <a href="#" class="image fit"><img src="{{ absolute_url(asset('assets/images/pic14.jpg')) }}" alt="" /></a>
    </div>
    <div class="col-6">
        <a href="#" class="image fit"><img src="{{ absolute_url(asset('assets/images/pic15.jpg')) }}" alt="" /></a>
    </div>
</div>
