<header>
    <h2 class="icon solid fa-camera circled"><span class="label">Photos</span></h2>
</header>
<div class="row gtr-25">
    <div class="col-2">
        <a  class="image fit"><img class="image-modal" src="{{ absolute_url(asset('assets/'~result.folder~'/images/pic10.jpg')) }}" alt="" /></a>
    </div>
    <div class="col-2">
        <a  class="image fit"><img class="image-modal" src="{{ absolute_url(asset('assets/'~result.folder~'/images/pic11.jpg')) }}" alt="" /></a>
    </div>
    <div class="col-2">
        <a  class="image fit"><img class="image-modal" src="{{ absolute_url(asset('assets/'~result.folder~'/images/pic12.jpg')) }}" alt="" /></a>
    </div>
    <div class="col-2">
        <a  class="image fit"><img class="image-modal" src="{{ absolute_url(asset('assets/'~result.folder~'/images/pic13.jpg')) }}" alt="" /></a>
    </div>
    <div class="col-2">
        <a  class="image fit"><img class="image-modal" src="{{ absolute_url(asset('assets/'~result.folder~'/images/pic14.jpg')) }}" alt="" /></a>
    </div>
    <div class="col-2">
        <a  class="image fit"><img class="image-modal" src="{{ absolute_url(asset('assets/'~result.folder~'/images/pic15.jpg')) }}" alt="" /></a>
    </div>
    <div class="col-2">
        <a  class="image fit"><img class="image-modal" src="{{ absolute_url(asset('assets/'~result.folder~'/images/pic15.jpg')) }}" alt="" /></a>
    </div>
    <div class="col-2">
        <a  class="image fit"><img class="image-modal" src="{{ absolute_url(asset('assets/'~result.folder~'/images/pic15.jpg')) }}" alt="" /></a>
    </div>
    <div class="col-2">
        <a  class="image fit"><img class="image-modal" src="{{ absolute_url(asset('assets/'~result.folder~'/images/pic15.jpg')) }}" alt="" /></a>
    </div>
    <div class="col-2">
        <a  class="image fit"><img class="image-modal" src="{{ absolute_url(asset('assets/'~result.folder~'/images/pic15.jpg')) }}" alt="" /></a>
    </div>
    <div class="col-2">
        <a  class="image fit"><img class="image-modal" src="{{ absolute_url(asset('assets/'~result.folder~'/images/pic15.jpg')) }}" alt="" /></a>
    </div>
    <div class="col-2">
        <a  class="image fit"><img class="image-modal" src="{{ absolute_url(asset('assets/'~result.folder~'/images/pic15.jpg')) }}" alt="" /></a>
    </div>
    <div class="col-2">
        <a  class="image fit"><img class="image-modal" src="{{ absolute_url(asset('assets/'~result.folder~'/images/pic15.jpg')) }}" alt="" /></a>
    </div>
</div>
